@import "../def/variaveis.scss";

.jumbotron{
    margin: 1% -15px 1% -15px;
    padding: 1%;

    .div_jogos{
        width: 200;
        height: 60px;
        line-height: 110%;
    }
    .team-games {
        width: 30px;
        height: 30px;
    }
}
